body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .4), rgb(0, 0, 0, .4)), url(pets/main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: overlay;
}
.business-name{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px 200px 0 0;
    animation-name: business-name;
    animation-duration: 1.5s;
}
@keyframes business-name{
    0%{
        transform: translateY(-200px);
    }
}
.business-name img{
    width: 170px;
    margin: 0;
    padding-right: 70px;
    cursor: pointer;
}
.business-name h1{
    font-weight: 100;
    font-size: 3em;
    margin-top: -20px; 
    margin-bottom: 0;
    letter-spacing: 5px;
}
.business-name h2{
    font-weight: 100;
    margin: 0;
    padding-right: 50px;
    letter-spacing: 5px;
}
.business-name h1, h2{
    color: rgb(230, 230, 230);
    cursor: pointer;
}
.wrapper-one{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
.wrapper-one h1{
    font-size: 3em;
    font-weight: 100;
}
.quote{
    max-width: 430px;
    text-align: center;
    padding-left: 80px;
    animation-name: quote-a;
    animation-duration: 1.5s;
    cursor: pointer;
}
.quote h1{
    letter-spacing: 4px;
}
@keyframes quote-a{
    0%{
        transform: translateX(-400px);
    }
}
.socials{
    margin-top: 140px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    width: 300px;
    max-height: 300px;
    animation-name:socials-d;
    animation-duration: 1.5s;
}
@keyframes socials-d{
    0%{
        transform: translateX(400px);
    }
}
.socials h2{
    color: rgb(231, 231, 231);
    padding-left: 30px;
    font-size: 2em;
    font-weight: 100;
    margin: 0;
    padding: 5px 0px 10px 30px;
    letter-spacing: 3px;
}
.idono{
    display: flex;
    justify-content: start;
}
.logos img{
    width: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}
.logos ul{
    list-style: none;
}
.links a{
    padding-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    color: rgb(231, 231, 231);
    text-decoration: none;
    font-weight: 100;
    font-size: .8em;
    letter-spacing: 2px;
}
.links a:hover{
    text-decoration: underline;
}
.links{
    display: flex;
    flex-direction: column;
    padding-bottom: space-evenly;
    padding-right: 80px;
}
@media screen and (max-width: 1150px) {
    .socials{
            margin-right: 20px;
    }
    .quote h1{
        font-size: 2em;
    }
}
@media screen and (max-width: 900px) {
    .wrapper-one{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .socials{
        margin-top: 50px;
        margin-left: 140px;
    }
    .quote h1{
        font-size: 2em;
    }
    .business-name{
        align-items: center;
        margin-right: 0px;
        padding-right: 0px;
    }
    .business-name h1{
        font-size: 2.4em;
    }
    .business-name h2{
        font-size: 1em;
    }
    .business-name img{
        width: 120px;
    }
    .wrapper-one{
        height: 800px;
    }
}
@media (max-width: 900px) and (min-width: 550px){
    .wrapper-one{
        height: 700px;
    }
}
@media screen and (max-width: 900px) and (max-width: 550px){
    .wrapper-one{
        align-items: center;
    }
    .quote h1{
        font-size: .7em;
    }
    .business-name h1{
        font-size: 1.5em;
    }
    .business-name h2{
        font-size: 1em;
        padding-right: 10px;
    }
    .business-name img{
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .wrapper-one h2{
        font-size: 1em;
        padding-left: 50px;
    }
    .logos{
        width: 30px;
        height: 90px;
        transform: translateY(-10px);
    }
    .logos ul{
        padding-left: 0px;
        height: 100px;
    }
    .logos img{
        margin-bottom: 7px;
    }
    .socials{
        height: 120px;
        width: 150px;
        transform: translateX(90px);
    }
    .socials h2{
        padding-left: 30px;
    }
    .links{
        padding: 0px;
    }
    .links a{
        font-size: .7em;
        line-height: 0px;
        margin: 0;
        padding: 20px;
    }
}
@media (max-width: 450px){
    .socials{
        transform: translateX(0px);
    }
    .quote h1{
        margin: 0px;
    }
}
.second-page{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0 ,0 ,0 , .3), rgba(0, 0, 0, 1));
}

.header-2 h1{
    margin: 0;
    padding-left: 100px;
    margin-top: 100px;
    font-weight: 100;
    font-size: 2em;
    letter-spacing: 5px;
}
.header-2{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.categories{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60vh;
    margin: auto;
}
.img-wrapper{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.5s;
}
.categories img{
    width: 225px;
    height: 187px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
}
.first-c, .second-c{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
    padding-left: 105px;
}
.second-c{
    animation-name: second-container;
    animation-duration: 1s;
}
.first-c{
    animation-name: first-container;
    animation-duration: 1s;
}
@keyframes second-contaoner{
    0%{
        transform: translateX(-400px);
    }
}
@keyframes first-container{
    0%{
        transform: translateX(400px);
    }
}
.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    top: 100%;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    transition: .5s;
}
.layer p{
    text-align: center;
    cursor: pointer;
}  
.layer:hover{
  letter-spacing: 3px;
}   
.img-wrapper:hover .layer{
    z-index: 2;
    background-color: rgba(206, 124, 138, .9);
    top: 75%;
    left: 0px;
}
.footer{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    border-top: solid rgba(255, 255, 255, .5);
    padding-top: 18px;
}
.footer p{
    font-weight: 100;
    cursor: pointer;
    font-size: .9em;
    transition: .5s;
}
.footer p:hover{
    transform: translateY(-5px);
    color: rgba(255, 255, 255, .8);
}
.end{
    display: flex;
    align-items: center;
}
.feed{
    height: 35px;
    border-start-start-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    margin-right: 10px;
}
.feed::placeholder{
    padding-left: 10px;
}
.sub{
    height: 41px;
    border-radius: 12px;
    background-color: #f14e4e;
    color: #fff;
    font-weight: 100;
    font-size: .7em;
    cursor: pointer;
    transition: .5s;
}
.sub:hover{
    letter-spacing: 3px;
}
@media screen and (max-width: 900px) {
    .first-c{
        padding: 0;
        flex-direction: column;
    }
    .second-c{
        flex-direction: column;
        padding: 0;
    }
    .categories{
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 100px;
    }
    .header-2{
        margin-bottom: 50px;
    }
    .header-2 h1{
        font-size: 1.6em;
        padding-left: 0 ;
    }
    .img-wrapper img{
        width: 150px;
        height: 112px;
    }
    .img-wrapper:hover .layer{
        top: 65%;
    }
    .header-2 h1{
        margin-top: 50px;
    }
    .footer{
        margin: 0px;
        padding-top: 20px;
        justify-content: space-evenly;
        width: 100%;
    }
}
@media screen and (max-width: 625px){
    .footer div p{
        font-size: .3em;
    }    
}